
{{#each students}}

<div class="container">
    <div class="row">
    
      <div class="col-sm-4">
         Picture will go here <br> <img src="{{img_url}}" class="profileImg">
      </div>
      <div class="col-sm-8">
        <h1>Name: {{student_name}}</h1><br>
        <h1>Slack Id: {{slack_id}}</h1><br>
 
        <ul>
          <li><a href="/viewReview/{{id}}">{{fist_of_five}}</a></li>
        </ul>
   
    </div>
    </div>
</div>

{{/each}}

<form method="POST" action="{{id}}">
  <input type="text" name="input_name">
  <input type="text" name="fist_of_five">
  <input type="text" name="review_comment">
  <button type="submit">SUBMIT</button>
</form>

{{!-- <div class="container">
  <form class="form" action= "" method="post">
    <div class="row">
      <div class="col-sm-6">
        <h2>Leave review here</h2>
      </div>
      <div class="col-sm-6"></div>
   </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-6"></div>
         <label for="input_name" class="form-item">
           Name:
    <input type="text" name="input_name" value="{{input_name}}">
  </label>
      <div class="col-sm-6"></div>
   </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-6"></div>
         <label for="fist_of_five" class="form-item">
           Fist of Five
    <input type="text" name="fist_of_five" value="{{fist_of_five}}">
  </label>
      <div class="col-sm-6"></div>
   </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm-12"></div>
        <label for="review_comment" class="form-item">
          Leave a written review:<br>

    <input type="text" name="review_comment" value="{{review_comment}}">
  </label>
   </div>
   <input type="submit" name="" value="Submit">
  </form>
</div> --}}





 
  
 

   
  